.pixelbattle_workspace_board_pixel {
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	/* Убираем лишние отступы */
	margin: 0;
	padding: 0;
}
